body {
    scroll-padding-top: 70px; /* height of sticky header */
  }
  
  /* Ultimately, this is the correct place for scroll-padding */
  html {
    scroll-padding-top: 70px; /* height of sticky header */
    scroll-behavior: smooth;
  }

body {font-family: 'Proxima Nova Rg'; -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    -webkit-font-smoothing:auto;
    -webkit-font-smoothing:never;
    -webkit-font-smoothing:always;
    -webkit-font-smoothing:2em;
    }

    .aa{
        transition: all 0.5s linear;
    }
      
     
    .fadeq {
        animation-duration: 0.5s;
        animation-name: fadeIn;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
    }

    .brl{
        opacity: 0;
        will-change: transform;
    }
      
      @keyframes fadeIn {
        0% {
            opacity: 0;
            visibility: hidden;
          }
          100% {
            opacity: 1;
            visibility: visible;
          }
      }
    
    /* Css for Website Header */
    
    .site-header.topmain {
        background: transparent;
        padding: 6px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        transition:all ease 0.5s;
    }
    
    .site-header.topmain.mobexheight.navfixed {
           padding: 6px 0;
        background: #000;
    }
    
    
    .site-header.topmain .navbar-brand-img {
        width: 100%;
    }
    
    .site-header.topmain a.navbar-brand {
        width: 156px;
    }
    
    .site-header.topmain .navbar.navbar-expand-lg {
        padding: 0 0;
    }
    
    .site-header.topmain .navbar .navbar-nav li a{
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            font-family: 'Proxima Nova Rg';
    }
    
    
    .site-header .navbar-light .navbar-toggler {
        z-index: 9;
        float: right;
        position: relative;
        right: 0px;
        top: 0px;
        border-color: rgb(255 255 255 / 0%);
        outline:none;
       
    }
    
    .openhdas .fa-times {
        display: none;
    }
    
    .openhdas.crossshwos .fa-bars {
        display: none;
    }
    
    .openhdas.crossshwos .fa-times {
        display: block;
    }
    
    .menufull {
            margin-left: auto;
       
        opacity: 0;
        display: flex;
        visibility: hidden;
            position: fixed;
        background: #000;
        width: 100%;
        left: 0;
        height: 100vh;
        top: 0;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        transition:all ease 0.5s;
    }
    
    .navbar-expand-lg .menufull .navbar-nav {
        display: block;
        margin: auto;
    }
    
    .site-header.topmain.mobexheight.heightexps .menufull {
           border-radius: 0%;
        opacity: 1;
        visibility: visible;
        
    }
    
    .site-header.topmain .navbar .menufull  .navbar-nav li a{
            font-size: 28px;
                font-family: 'Proxima Nova';
    }
    
    .site-header.topmain .navbar .navbar-nav li.active a {
        color: #fd6a02;
    }
    
    .scrolling_down {
          transform: translateY(-68px); 
    }
    
    .scrolling_up {
      transform: translateY(0px);
    }
    
    .scrolling_down .menufull {
        transform: translateY(68px);
    }
    
   /* .site-header .navbar-light .theme-ctchange, .site-header .navbar-light .navbar-toggler {
        background: #fff;
        height: 40px;
        width: 40px;
        text-align: center;
        border-radius: 100%;
        padding: 0;
        margin-left: 10px;
        box-shadow: #e1e1e1 0px 0px 3px 1px;
    } */
    
    /* css for website header Ends Here  */
    
    
    
    
    /* css for theme Scrollbar Starts Here */
    
    /* width */
    ::-webkit-scrollbar {
        width: 9px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #e5dede; 
        border-radius: 0px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #493c3c; 
        border-radius: 5px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #fd6a02; 
      }
    
    
    /* css for theme Scrollbar Ends Here */
    
    
    
    /* css for First Banner */
    
    .homebannnerk .desktopayout {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    .homebannnerk video {
        width: 100%;
    }
    
    .homebannnerk .desktopayout {
        display: block;
    }
    
    .homebannnerk .mobstopayout {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    .homebannnerk.revealer {
        height: 542px;
        overflow: hidden;
        position: relative;
    }
    
    
    /* css for First Banner Ends Here */
    
    
    
    /* css for Second Fold */
    
    .whowres {
        padding: 80px 0;
        height: 100vh;
    }
    
    .whtxt, .whtxt .mnsub, .whtxt p {
        color: #fff;
    }
    
    .whowres p span{
         color: #fd6a02;
    }
    
    .mnsub {
        font-family: 'Proxima Nova Rg';
        font-weight: 600;
        font-size: 40px;
    }
    
    .mwd-tx p {
        max-width: 575px;
        font-size: 28px;
        margin: auto;
            padding-bottom: 25px;
       
    }
    
    .strsp {
        background: url('https://api.swstudios.in/images/strokewe.png');
        background-size: cover;
        width: 105px;
        height: 51px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: left;
        position: relative;
        left: -7px;
    }
    
    .arrmovsw {
        position: absolute;
        top: -7px;
        right: -100px;
        max-width: 190px;
    }
    
    .pd-thm {
        padding-bottom: 60px;
    }
    
    .pd-topm {
        padding-top: 60px;
    }
    
    .movablelines {
        background: url('https://api.swstudios.in/images/arrowstro.png');
        position: absolute;
        top: -7px;
        right: -104px;
        width: 188px;
        height: 42px;
        background-repeat: no-repeat;
        background-size: cover;
        transition: linear 0.3s;
    }
    
    .whowres .movablelines:after {
       width: 120%;
    }
    
    .whowres.aos-init.aos-animate .movablelines:after {
        content: "";
        position: absolute;
        right: -34px;
        width: 20%;
        background: #000;
        height: 88px;
        transition: all ease 2s;
          animation: moveline  linear 2s;
    }
    
    @keyframes moveline{
        0%{
            width: 120%; 
        }
        100%{
            width: 20%;
            
        }
    }
    
    /* css for Second Fold Ends Here */
    
    
    
    /* css for Third Fold Start here */
    
    
    .courseallpnsd.vdo-sects h5 {
        font-size: 21px;
    }
    
    .courseallpnsd.vdo-sects p{
            display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    .latestwrk .vdo-sects {
        margin-bottom: 10px;
        position: relative;
        transition: all ease 0.5s;
        z-index: 4;
    }
    
    
    .latestwrk  .vdo-sects:hover h5{
            color: #fd6a02;
    }
    
    
    .vdopls img {
        cursor: pointer;
    }
    
    .morevdo {
        padding: 18px 0 0 36px;
    }
    
    .morevdo .mnsub {
        font-size: 21px;
        color: #000;
    }
    
    .morevdo .mnsub .strsp {
        left: 0;
        width: 55px;
        height: 25px;
        background-size: 100%;
        padding: 0 6px;
        background-position: top;
        margin: 3px -4px;
    }
    
    .morevdo .mnsub img {
        width: 20px;
        position: relative;
        top: -4px;
        margin: 0 4px;
    }

    .vdopls div {
        display: block !important;
    }
    
    .latestwrk .vdo-sects:hover {
        background: #000;
    }

    /* css for Third Fold Ends Here */
    
    
    
    /* Css For Fourth Section Ends Here */
    
    .mprojs {
        height: auto;
    }
    
    .mprojs .item a:hover {
        text-decoration: none;
        color: #fff;
    }
    
    
    .mprojs .item h6 {font-size: 18px;margin: 20px 0 8px 0;font-weight: 600;}
    
    .mprojs .item p {
        font-size: 13px;
    }
    
    .mprojs .owl-carousel .owl-item img {
        transition: all ease 0.5s;
    }
    
    .mprojs .owl-carousel .owl-item:hover img {
        border-radius: 20px;
    }
    
    .bdorg {
        width: 100%;
        height: 3px;
        border-bottom: 1px solid #fd6a02;
        margin: 20px 0;
    }
    
    .mprojs .owl-nav {
        position: relative;
        top: -305px;
    }
    
    .mprojs .owl-nav button.owl-prev {
        float: left;
        left: -18px;
        overflow: inherit;
    }
    
    .mprojs .owl-nav button span {
        font-size: 33px;
        background: #000;
        line-height: 30px;
        width: 35px;
        height: 35px;
        display: inline-block;
        border-radius: 100%;
        border: 1px solid #fff;
    }
    
    .mprojs .owl-nav button {
        width: 27px;
        height: 27px;
        overflow: hidden;
    }
    
    .mprojs .owl-nav button, .mprojs .owl-theme .owl-nav [class*=owl-]:hover {
        background: transparent;
    }
    
    .mprojs .owl-nav button.owl-next {
        float: right;
        right: -18px;
        overflow: inherit;
    }
    
    .mprojs .owl-nav button {
        position: relative;
        outline:none;
    }
    
    /* Css for Fourth Section ends Here */
    
    
    /* css for Fifth Section Starts Here */
    
    .mnformsty b {
        font-weight: 400;
        font-family: 'Proxima Nova Rg';
        font-size: 14px;
    }
    
    .mnformsty 
     .form-control {
        background: transparent;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #7a7a7a;
        padding: 0;
        height: 26px;
    }
    
    .mnformsty {
        max-width: 898px;
        margin: auto;
    }
    
    .mnformsty .ytthemects {
        display: inline-block;
        padding: 3px 28px;
        background: transparent;
        color: #fff;
        border: 1px solid #fd6a02;
        font-family: 'Proxima Nova Rg';
        margin: 35px 0 0 0;
        outline: none;
        border-radius: 3px;
    }
    
    .mnformsty div {
        padding: 0 6px;
    }
    
    .mnformsty .form-control, .mnformsty label {
        margin-bottom: 25px;
        outline:none;
    }
    
    .mnformsty .form-control:focus, .mnformsty .form-control:hover {
        box-shadow: 0px 1px 0 0px rgb(236 99 2 / 78%);
        border-bottom: 1px solid transparent;
    }
    
    /* css for  Fifth Section Ends Here */
    
    /* css for Logo Section */
    
    .brandssld .col-md-2 {
        padding: 0;
        margin-bottom: 40px;
    }
    
    .brandssld {
        text-align: center;
    }
    
    .brandssld .col-md-2 .img-fluid {
        max-width: 70%;
    }

    /* css for Logo Section ends here */
    
    
    /* Css for Footer Starts Here  */
    
    .thmn-footer {
        padding: 50px 0 0;
        position: sticky;
        bottom: -15px;
    }
    
    .copyrgts p {
        margin: 0;
    }
    
    .copyrgts {
        padding: 50px 0 30px;
        border-bottom: 4px solid #fd6a02;
    }
    
    .thmn-footer h3 {
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 600;
        color: #282828;
        font-family: 'Proxima Nova Rg';
    }
    
    
    .thmn-footer  ul {
        padding: 0;
        list-style-type: none;
    }
    
    .thmn-footer p, .thmn-footer ul li a {
        color: #646464;
        font-size: 14px;
        
    }
    
    
    .thmn-footer .footer-mail p {
        font-family: 'Proxima Nova Rg';
        font-weight: normal;
        color: #000;
    }
    
    .thmn-footer .mnformsty label, .thmn-footer .mnformsty .form-control, .thmn-footer .mnformsty label b {
        margin: 0;
    }
    
    .thmn-footer .mnformsty .ytthemects {
            margin: 0;
        color: #000;
        padding: 0 13px;
        font-size: 15px;
    }
    
    .thmn-footer .mnformsty .form-control {
        margin-bottom: 20px;
    }
    
    .socials ul {
        padding: 0;
        margin:0;
    }
    
    .socials ul li {
        display: inline-block;
        margin-right: 10px;
    }
    
    .socials ul li a {
        font-size: 20px;
        color: #000;
    }
    
    
    /* Css for Footer Ends Here */
    
    
    
    /* Our Work Page */
    
    .workshopareas {
        padding: 60px 0;
        background: #fff;
    }

    section {
        position: relative;
        z-index: 4;
    }
    
    .tabnormcta {
        text-align: center;
        padding-top: 50px;
    }
   
    .tabnormcta button {
        border: none;
        background: transparent;
        text-transform: uppercase;
        font-family: 'Proxima Nova Rg';
        border-bottom: 2px solid transparent;
        font-size: 15px;
        outline: none;
    }
    
    .tabnormcta button.active {
        font-family: 'Proxima Nova Rg';
        font-weight: 600;
        border-bottom: 2px solid #fd6a02;
    }
    
    .courseallpnsd {
        margin: 50px 0 0 0;
    }
    
    .courseallpnsd .col-md-4 {
        margin-bottom: 40px;
    }
    
    .courseallpnsd.vdo-sects.picshots h5 {
        border-top: 1px solid #000;
        padding-top: 17px;
    }
    
    .vdo-sects.vddetails h5 {
        color: #fd6a02;
            margin: 0 0 15px 0;
    }
    
    .courseallpnsd img {
        width: 100%;
    }
    
    .videomanys .owl-nav {
        position: relative;
        top: -180px;
    }
    
    .videomanys .owl-carousel.owl-theme .owl-nav button {
        margin: 0;
        padding: 0;
        width: 43px;
        height: 47px;
        border: 1px solid #fff;
        border-radius: 0;
        background:#fff;
        outline:none;
        box-shadow: #b7afaf 0px 0px 5px 0px;
    }
    
    .videomanys .owl-carousel .owl-nav button span {
        font-size: 40px;
        line-height: 19px;
    }
    
    .videomanys .owl-carousel .owl-nav  .owl-prev {
        float: left;
        position: relative;
        left: 35px;
    }
    
    .videomanys .owl-carousel .owl-nav .owl-next {
        float: right;
        position: relative;
        right: 35px;
    }
    
    .vdo-sects.vddetails .col-md-12 {
        margin-bottom: 20px;
    }
    
    .workshopareas.profiledesc .vddetails {
        margin-top: 0;
    }
    
    .videomanys .owl-carousel .owl-nav [class*=owl-]:hover {
        background: #fff;
    }
    
    .videomanys .owl-carousel .owl-nav [class*=owl-]:hover span {
        color: #000;
    }
    
    .videomanys .item {
        border-radius: 20px;
        overflow: hidden;
    }
    
    .videomanys {
        overflow: hidden;
        background: #f1f1f1;
        padding: 25px 0;
        text-align: center;
    }
    
    .videomanys .videopgsl{
        /*transform: rotate(-1deg); */
        overflow: hidden;
        padding: 0px 0px 0 0;
        width: 100%;
    }

    .videomanys iframe {
    width: 53%;
    margin: auto 0;
    height: 381px;
    box-shadow: #0000004a 0px 0px 20px 0px;

    }

    .orangectathms {
        border: 1px solid;
        padding: 10px 16px;
        cursor: pointer;
    }
    
    .orangectathms:hover {
        border: 1px solid #fd6a02;
    }
    
    /* css for button */
    
    .theme-ctchange {
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;
    }
    
    .theme-ctchange:focus{
        outline: none;
        box-shadow: none;
    }
    
    .theme-ctchange i {
        color: #fff;
    }
    
    .theme-ctchange .fa-sun {
        display: block;
    }
    
    .theme-ctchange .fa-moon {
        display: none;
    }
    
    .theme-ctchange.ctaon .fa-sun {
        display: none;
    }
    
    .theme-ctchange.ctaon .fa-moon {
        display: block;
    }

    .topmain.inverted .whiteonly {
        display: block;
    }
    
    .topmain.inverted .themeblackonly {
        display: none;
    }
    
    .topmain .themeblackonly {
        display: block;
    }
    
    .topmain .whiteonly {
         display: none;
    }
    
    .gallerybooths {
        padding-top: 50px;
    }

    @font-face {
        font-family: "Proxima Nova Rg";
        src: url("./fonts/ProximaNova-Regular.woff2") format("woff2"), url("./fonts/ProximaNova-Regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Proxima Nova";
        src: url("./fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("./fonts/ProximaNova-Extrabld.woff") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Proxima Nova Rg";
        src: url("./fonts/ProximaNova-Bold.woff2") format("woff2"), url("./fonts/ProximaNova-Bold.woff") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Aurelie Smith DEMO";
        src: url("./fonts/AurelieSmithDEMO.woff2") format("woff2"), url("./fonts/AurelieSmithDEMO.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      /* Common Theme Propperties */
      video {
        width: 100%;
        display: block;
      }
      
      /* theme heading properties */
      /* theme heading properties */
      body,
      .latestwrk {
        background-color: rgb(255, 255, 255);
      }
      
      .lttalks, .whowres.mprojs{
        background: #000000;
      }

      .whowres{
        background: rgb(253, 106, 2);
      }
      
      .mnformsty .form-control, .mnformsty label {
        color: rgb(255, 255, 255);
      }
      
      .lttalks .mainhd .cntheads {
        color: rgb(255, 255, 255);
      }
      
      .vdo-sects h5 {
        font-weight: 600;
        font-size: 26px;
        margin: 20px 0;
        transition: all ease 0.5s;
        font-family: Proxima Nova Rg;
      }
      
      .vdo-sects p, .vdo-sects a {
        font-size: 15px;
        color: #000;
        text-decoration: none;
        transition: all ease 0.5s;
        font-family: Proxima Nova Rg;
      }
      
      .vdo-sects a {
        font-family: "Proxima Nova Rg";
        font-weight: 600;
        font-size: 12px;
        font-family: Proxima Nova Rg;
      }
      
      .mainhd {
        margin-bottom: 60px;
      }
      
      .mainhd .cntheads {
        font-family: "Proxima Nova Rg";
        font-weight: 600;
        font-size: 42px;
      }
      
      .mainhd .cntheads span {
        font-family: "Aurelie Smith DEMO";
        font-size: 99px;
        color: #fd6a02;
        display: inline-block;
        font-weight: 100;
        line-height: 69px;
      }
      
      .container {
        max-width: 1920px;
        padding: 0px 36px;
      }
      
      .whtxt .mainhd .cntheads {
        color: rgb(255, 255, 255);
      }
      
      .whowres, .mprojs,
      .latestwrk, .workbrn,
      .latestwrk, .thmn-footer,
      .workshopareas {
        transition: all ease 0.5s;
      }
      
      .thmn-footer p, .thmn-footer ul li a,
      .thmn-footer .mnformsty label b {
        color: #646464;
      }
      
      /* Normal Mode Themefication */
      .latestwrk,
      .workbrn {
        background: #ffffff;
      }
      
      .vdo-sects h5, .vdo-sects p, .vdo-sects a {
        color: #000000;
      }
      
      
      .mprojs .item a, .mprojs .item p,
      .latestwrk .vdo-sects:hover p, .latestwrk .vdo-sects:hover a {
        color: #ffffff;
        font-family: Proxima Nova Rg;
      }
     
      
      /* Dark Mode Themeification */
      body.darkmodethmon {
        /* Hover Part of Video section */
        /* Hover Part of Video section ends here */
      }
      body.darkmodethmon .whtxt .mnsub,
      body.darkmodethmon .whtxt p,
      body.darkmodethmon .mainhd .cntheads,
      body.darkmodethmon .mprojs .item h6,
      body.darkmodethmon .morevdo .mnsub,
      body.darkmodethmon .thmn-footer h3,
      body.darkmodethmon .thmn-footer p, body.darkmodethmon .thmn-footer ul li a,
      body.darkmodethmon .thmn-footer .mnformsty .ytthemects,
      body.darkmodethmon .thmn-footer .mnformsty label b,
      body.darkmodethmon .latestwrk .vdo-sects p, body.darkmodethmon .latestwrk .vdo-sects a {
        color: rgb(255, 255, 255);
      }
      body.darkmodethmon .whowres,
      body.darkmodethmon .mprojs,
      body.darkmodethmon .latestwrk,
      body.darkmodethmon .workbrn,
      body.darkmodethmon .latestwrk,
      body.darkmodethmon .thmn-footer,
      body.darkmodethmon .latestwrk .vdo-sects:after,
      body.darkmodethmon .workshopareas {
        background: #000000;
      }
      body.darkmodethmon .brandssld .col-md-2 .img-fluid {
        background: rgb(255, 255, 255);
      }
      body.darkmodethmon .latestwrk .vdo-sects:hover:after,
      body.darkmodethmon .latestwrk .vdo-sects:hover {
        background: rgb(255, 255, 255);
      }
      body.darkmodethmon .latestwrk .vdo-sects h5 {
        color: #fd6a02;
      }
      body.darkmodethmon .latestwrk .vdo-sects:hover h5,
      body.darkmodethmon .latestwrk .vdo-sects:hover p, body.darkmodethmon .latestwrk .vdo-sects:hover a {
        color: #000000;
      }
      body.darkmodethmon .courseallpnsd.vdo-sects h5,
      body.darkmodethmon .courseallpnsd.vdo-sects p, body.darkmodethmon .courseallpnsd.vdo-sects a,
      body.darkmodethmon .tabnormcta button {
        color: rgb(255, 255, 255);
      }
      
      /*# sourceMappingURL=style.css.map */
      

      /* responsive */
    
    @media screen and (max-width: 767px) and (min-width: 320px){

        .latestwrk .vdo-sects:hover p, .latestwrk .vdo-sects:hover a {
            color: #000000;
        }
        
        .latestwrk .vdo-sects:hover h5 {
            color: #000000;
        }
        
        .mwd-tx p br {
        display: none;
    }
    
    .movablelines {
        display: none;
    }
    
    .site-header .navbar-expand-lg>.container {
        padding: 0 15px;
    }
    
    .mnformsty .form-control, .mnformsty label {
        margin-bottom: 10px;
    }
    
    .mnsub {
        margin-bottom: 40px;
    }
    
    .whowres {
        height: auto;
    }
    
    .homebannnerk .desktopayout {
        display: none;
    }
    
    .homebannnerk  .mobstopayout {
        display: block;
            width: 100%;
    }
    
    .homebannnerk video {
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
        position: absolute;
        margin: auto;
        width: 100%;
        height: 100%;
        right: -100%;
        bottom: -100%;
        top: -100%;
        left: -100%;
        object-fit: cover;
        z-index: -100;
    }
    
    .site-header.topmain.heightexps .collapse:not(.show) {
        display: block;
        position: fixed;
        top: 0;
        background:#000;
        width: 100%;
        left: 0;
        padding: 20px;
        height: 100vh;
        transition: all ease 0.5s;
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }
    
    .site-header .navbar-light .navbar-toggler {
        z-index: 9;
        float: right;
        position: absolute;
        right: 19px;
        top: 13px;
        color: #fff;
        border-color: rgb(255 255 255 / 0%);
        outline:none;
    }
    
    .site-header.topmain .collapse:not(.show) {
        position: fixed;
        top: 0;
        background: #fff;
        width: 100%;
        left: 0;
        padding: 20px;
        height: 100vh;
        transform: translateX(-630px);
        transition: all ease 0.5s;
        display: block;
        opacity: 0;
        visibility: hidden;
    }
    
    .openhdas .fa-times {
        display: none;
    }
    
    .openhdas.crossshwos .fa-bars {
        display: none;
    }
    
    .openhdas.crossshwos .fa-times {
        display: block;
    }
    
    .mainhd .cntheads {
        font-size: 23px;
    }
    
    .mainhd .cntheads span {
        font-size: 63px;
    }
    
    .mainhd {
        margin-bottom: 30px;
    }
    
    .pd-thm, .whowres {
        padding: 35px 0;
    }
    
    .mwd-tx p{    font-size: 19px;}
    
    .thmn-footer h3 {
        margin-bottom: 21px;
    }

    .videomanys iframe {
        width: 85%;
        height: 199px;
    }

    .container{
        padding: 0px 26px;
    }

    .videomanys .owl-carousel.videopgsl {
        height: 282px;
    }

    .latestwrk .vdo-sects:hover {
        background: transparent;
    }

    .latestwrk .vdo-sects{
        margin-bottom: 25px;
    }

    .workshopareas{
        padding: 60px 0;
    }

    .socials {
        margin-bottom: 20px;
    }

    .copyrgts{
        padding: 30px 0 30px;
    }
    
    }


    .laysets:hover img {
        transform: scale(1.2);
    }
    
    .laysets {
        transition: all ease 1s;
        overflow: hidden;
    }
    
    .laysets img {
        transition: all ease 0.5s;
    }
    
    .photolyers {
        overflow: hidden;
    }

    .videomanys .owl-carousel.videopgsl {
        height: 282px;
    }